<div id="main-content" class="container" onload="onCreatePresLoad()">
    <h2>Welcome Doctor</h2>
    <div class="row">
        <h2>Creating Prescription for Some Name by Doctor Name Dated : <span id="date1"></span></h2>
        <br>
        <table>
            <tbody>
                <tr>
                    <td class="cell">Medicine Name</td>
                    <td class="cell">Taking Pattern</td>
                    <td class="cell">No of days</td>
                    <td class="cell">Delete</td>
                    <td class="cell">Modify</td>
                </tr>
                <tr>
                    <td class="cell">Some Name</td>
                    <td class="cell">Some Pattern</td>
                    <td class="cell">Some Number</td>
                    <td class="cell"><button type="submit"class="btn btn-primary">Delete</button></td>
                    <td class="cell"><button type="submit"class="btn btn-primary">Modify</button></td>
                </tr>
            </tbody>
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Add Medicine</button>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </div>	
</div><!--End of #main-content -->