<div id="main-content" class="container">
    <div class="jumbotron">
        <img src="img/jumbotron1.jpg" alt="Picture of Hospital" class="img-responsive visible-xs">
    </div>
    <div id="home-tiles" class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><div id="doc-tile"><span>Experienced Doctors</span></div></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><div id="health-tile"><span>Advanced Healthcare</span></div></a>	
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a href="#"><div id="facility-tile"><span>Best Facilities</span></div></a>
            </a>
        </div>
    </div><!--End of #home-tiles -->
</div><!--End of #main-content -->