<div id="main-content" class="container">
    <h2>Welcome Doctor</h2>
    <div class="row">
        <h2>Treatment</h2>
        <br>
        <table>
            <thead>
                <td class="cell">Doctor ID</td>
                <td class="cell">Patient ID</td>
                <td class="cell">Appointment Time</td>
            </thead>
            <tbody>
                <tr>
                    <td class="cell">Some Patient ID</td>
                    <td class="cell">Some Doctor ID</td>
                    <td class="cell">Some DateTIme</td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="form-group row">
                <label for="disease" class="col-sm-2 col-form-label">Diagnosed disease</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="disease" placeholder="Enter Diagnosed disease" required>
                </div>
            </div>
        <br>
        <!--<button type="submit" class="btn btn-primary">View All</button>
        <button type="submit" class="btn btn-primary">Previous Appointments</button>-->
    </div>	
</div><!--End of #main-content -->