<div id="main-content" class="container">

    <h2>Welcome Pharmacist</h2>
    <div class="container">
        <button type="button" id="buyMed" class="btn btn-default" onclick="viewPresc()">Add Stock</button>
        <button type="button" id="supMed" class="btn btn-default" onclick="viewOrder()">Prescription</button>
        <br>
        <div id="order">
            <table id="table1">
                <thead>
                    <td class="cell">Medicine Name</td>
                    <td class="cell">Medicine Count</td>
                    <td class="cell">Delete</td>
                </thead>
                <tbody>
                    <tr>
                        <td class="cell">Some Medicine</td>
                        <td class="cell">Some Amount</td>
                        <td class="cell"><button type="submit"class="btn btn-primary">Delete</button></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <button type="button" id="buyMed" class="btn btn-default" onclick="addMed()">Add Medicine</button>
            <button type="submit" class="btn btn-primary">Add To Inventory</button>
        </div>

        <div id="supply">
            <form>
                <div class="form-group row">
                    <label for="patentID" class="col-sm-2 col-form-label">Patient ID</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="patientID" placeholder="Enter Patient ID" pattern="[A-M]{1}[0-9]{6}" required>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="dateIssue" class="col-sm-2 col-form-label">Date Issued</label>
                    <div class="col-sm-10">
                      <input type="date" class="form-control" id="dateIssue" placeholder="Enter Date Issued" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="timeIssue" class="col-sm-2 col-form-label">Time Issued</label>
                    <div class="col-sm-10">
                      <input type="time" class="form-control" id="timeIssue" placeholder="Enter Time Issued" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" id="issued" class="btn btn-primary">Get Prescription</button>
                    </div>
                </div>
            </form>
            
        </div>
        
    </div>
</div><!--End of #main-content -->