<div id="main-content" class="container">
    <h2>Welcome Employee</h2>
    <div class="row">
        <h2>Rooms Free</h2>
        <br>
        <table>
            <thead>
                <td class="cell">Room Type</td>
                <td class="cell">No of Rooms Free</td>
            </thead>
            <tbody>
                <tr>
                    <td class="cell">Some Name</td>
                    <td class="cell">Some Number</td>
                </tr>
            </tbody>
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Show All Rooms</button>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>	
</div><!--End of #main-content -->