<div id="main-content" class="container">
    <h2>Welcome Employee</h2>
    <div class="row">
        <h2>Rooms Search</h2>
        <br>
        <form onsubmit="roomSearch()">
            <div class="form-group row">
                <label for="rNo" class="col-sm-2 col-form-label">Room No</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="rID" placeholder="Enter Room ID" pattern="[R]{1}[0-9]{3}">
                </div>
            </div>
            <br>
            <h5>Or</h5>
            <br>
            <div class="form-group row">
                <label for="pName" class="col-sm-2 col-form-label">Patient ID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="pID" placeholder="Enter Patient ID" pattern="[A-M]{1}[0-9]{6}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" value="Submit">Search</button>
        </form>
        <br>
    </div>	
</div><!--End of #main-content -->