<div id="main-content" class="container">
    <h2>Welcome Employee</h2>
    <div class="row">
        <h2>All Rooms</h2>
        <br>
        <table>
            <thead>
                <td class="cell">Room No</td>
                <td class="cell">Type</td>
                <td class="cell">Patient Name</td>
                <td class="cell">In Date</td>
                <td class="cell">Expected Out Date</td>
            </thead>
            <tbody>
                <tr>
                    <td class="cell">Some Number</td>
                    <td class="cell">Some Type</td>
                    <td class="cell">Some Name</td>
                    <td class="cell">Some Date</td>
                    <td class="cell">Some Date</td>
                </tr>
            </tbody>
        </table>
        <br>
        <button type="submit" class="btn btn-primary" onclick="roomSearch()">Search</button>
    </div>	
</div><!--End of #main-content -->