<div id="main-content" class="container">
	<button type="button" id="but1" class="btn btn-default" onclick="viewSignIn()">Signin</button>
	<button type="button" id="but2" class="btn btn-default" onclick="viewSignUp()">Signup</button>
	<div class="col-md-12 col-sm-12 col-xs-12">
		
		<form  id="signup" action="application/signuppat" method="POST">	
			<div class="form-group row">
				<label for="patientFname" class="col-sm-2 col-form-label">Patient First Name</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="patientFname" placeholder="Enter Patient First Name" pattern="[A-Za-z]{1,15}" title="No's cant be used" required>
				</div>
			</div>

			<div class="form-group row">
				<label for="patientLname" class="col-sm-2 col-form-label">Patient Last Name</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="patientLname" placeholder="Enter Patient Last Name" pattern="[A-Za-z]{1,15}" title="No's cant be used" required>
				</div>
			</div>

			<div class="form-group row">
				<label for="patientDOB" class="col-sm-2 col-form-label">Patient DOB</label>
				<div class="col-sm-10">
				  <input type="date" class="form-control" id="patientDOB" placeholder="Enter Patient DOB" required>
				</div>
			</div>

			<div class="form-group row">
				<label for="patientPwd" class="col-sm-2 col-form-label">Patient Password</label>
				<div class="col-sm-10">
				  <input type="password" class="form-control" id="patientPwd" placeholder="Enter Patient Password" pattern=".{8,}" required>
				</div>
			</div>

			<div class="form-group row">
				<label for="patientDoor" class="col-sm-2 col-form-label">Patient Door No</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="patientDoor" placeholder="Enter Patient Door No" required>
				</div>
			</div>

			<div class="form-group row">
				<label for="patientStreet" class="col-sm-2 col-form-label">Patient Street</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="patientStreet" placeholder="Enter Patient Street" required>
				</div>
			</div>

			<div class="form-group row">
				<label for="patientPincode" class="col-sm-2 col-form-label">Patient Pincode</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="patientPincode" placeholder="Enter Patient Pincode"  pattern="[0-9]{6}" title='length 6(only numbers)' required>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary ">Sign up</button>
				</div>
			</div>
		  </form>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12">
		<form  id="signin" action="signinpat" method="POST">
			<div class="form-group row">
				<label for="patentID" class="col-sm-2 col-form-label">Patient ID</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="patientID" name="patientID" placeholder="Enter Patient ID" pattern="[A-M]{1}[0-9]{6}" required>
				</div>
			</div>

			<div class="form-group row">
				<label for="patientPwd" class="col-sm-2 col-form-label">Patient Password</label>
				<div class="col-sm-10">
				  <input type="password" class="form-control" id="patientPwd" name="patientPwd" placeholder="Enter Patient Password" pattern=".{8,}" title ="Check again, either the password is wrong or length is not satisfied" required>
				</div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Sign in</button>
				</div>
			</div>
		</form>
	</div>
	<script>
		function viewSignIn(){
			document.getElementById("signup").style.display = "none";
			document.getElementById("signin").style.display = "block";
		}
		function viewSignUp(){
			document.getElementById("signin").style.display = "none";
			document.getElementById("signup").style.display = "block";
		}
	</script>
</div><!--End of #main-content -->